* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh; 
}

.secondpaga-header {
    width: 80%;
    height: 550px;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 130px; 
    padding-bottom: 60px;
}

.main-ads-text {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 2000px; /* Increase margin-top to push the text down */
    margin-bottom: -40px; /* Adjust margin-bottom as needed */
    max-width: 1900px;
    margin-left: auto;
    margin-right: auto;
}



.company-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}


.company-menu a {
    text-decoration: none;
}

.company-menu img {
    width: 250px; 
    height: 150px; 
    /* Change the margins to push the icons */
    margin-top: 230px; 
    margin-bottom: 230px;
    margin-left: 20px; 
    margin-right: 20px;
}


.ads-container {
    margin-top: 100px; 
}

.ads-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px; 
}

.ads-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative; 
    margin: -130px 5px;
}

.ads-item img {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    z-index: 1; 
}

.ads-item .icon-overlay {
    position: relative;
    top: 40%; 
    left: 5%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.ads-item .icon-overlay img {
    width: 80%; 
    height: 80%; 
}



.ads-item h1,
.ads-item p {
    color: white; 
}

.text0 {
    font-size: 45px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 30px; 
    margin-left: -150px; /* Adjust margin-left to push the heading to the left */
    margin-bottom: 20px;
}

.text1,
.text2 {
    font-size: 45px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 30px; 
    margin-left: -430px; /* Adjust margin-left to push the heading to the left */
    margin-bottom: 20px;
}

.text3 {
    font-size: 45px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 30px; 
    margin-left: -350px; /* Adjust margin-left to push the heading to the left */
    margin-bottom: 20px;
}

.text4 {
    font-size: 45px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 30px; 
    margin-left: -310px; /* Adjust margin-left to push the heading to the left */
    margin-bottom: 20px;
}

.text5 {
    font-size: 45px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 30px; 
    margin-left: -480px; /* Adjust margin-left to push the heading to the left */
    margin-bottom: 20px;
}


.ads-item p {
    font-size: 16px; 
    margin-bottom: 10px; 
    text-align: left;
}


.ads-row .ads-item img {
    width: 600px; 
    height: auto; 
    margin-left: 50px;
    margin-right: 50px;
}