* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    line-height: 1.6;
    background-image: url(./assets/img/backgroundimg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh; 
}

header {
    width: 65%;
    height: 160px;
    position: absolute;
    top: 30px;
    left: 45%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 130px; 
    border-bottom: 3px solid antiquewhite;
    padding-bottom: 20px;
}

header a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    padding: 50px 15px; 
    font-size: 30px; 
}

header a:hover {
    color: coral;
}

.vector-1 {
    width: 60px; 
    height: 60px;
    gap: 0px;
}

.main-text {
    color: white;
    text-align: center;
    justify-content: center;
    margin: auto; 
    font-size: 100px;
}


.foot-part {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 10px; 
}

.foot-part img {
    width: 50px; 
    height: 50px; 
}

.foot-part p {
    color: white;
    font-size: 20px;
}


.right-menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 669px;
    height: 121vh; 
    background-color: black; 
    color: white; 
    border: 1px solid antiquewhite; 
    opacity: 1;
    padding: 20px; 
    box-sizing: border-box; 
}


.right-menu img {
    width: 40px; 
    height: 50px; 
    position: absolute;
    top: 70px;
    left: 100px;
}

.right-menu > div:not(:first-child) {
    margin-top: 250px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    
}


.right-menu > div h3 {
    font-size: 30px;
    margin-bottom: 30px; 
}

.right-menu > div p {
    font-size: 24px;
    margin: 5px 0; 
}


.second-page {
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    line-height: 1.6;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    margin-top: 5160px;
}

.second-page-header {
    width: 100%;
    height: auto; 
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column; 
}

.second-page-h1 {
    color: white;
    text-align: center; /* Center the text */
    margin-top: 50px; /* Adjust margin to create space */
    padding: 20px; /* Example padding */
    max-width: 1456px; /* Max width of the text */
    width: 100%; /* Make the text responsive */
}

.icon-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3700px; /* Adjust as needed */
}

.icon-text-container img {
    width: 160px; /* Increase the width to make the icon larger */
    height: auto; /* Let the height adjust automatically */
    margin-right: 10px; /* Adjust as needed */
}


/* images change */
.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Push the pictures to the left */
    margin-top: 2150px; /* Adjust as needed */
    margin-left: -600px;
}

.image-container img {
    width: 30%; /* Adjust size as needed */
    margin-bottom: 20px; /* Adjust as needed */
}