* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    line-height: 1.6;
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh; 
}

header {
    width: 70%;
    height: 100px;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 130px; 
    border-bottom: 3px solid antiquewhite;
    padding-bottom: 50px;
}

header a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    padding: 50px 15px; 
    font-size: 30px; 
}

header a:hover {
    color: coral;
}

.vector-1 {
    width: 30px; 
    height: 30px;
    gap: 0px;
}

.main-text {
    color: white;
    text-align: center;
    font-size: 60px;
    margin-top: 1400px;
    margin-bottom: 100px; 
}

.team-container {
    margin-top: 400px; 
    margin-right: -15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -100px;
}

.team-image-image1,
.team-image-image2,
.team-image-image3 {
    width: 70vw;
    margin: 0 auto;
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-bottom: 110px; 
}

.team-image-image1 img,
.team-image-image3 img {
    width: 1000px; 
    height: auto; 
    margin-right: 136px; 
}

.team-image-image1 div,
.team-image-image3 div {
    flex: 1; 
}

.team-image-image1 h3,
.team-image-image3 h3 {
    color: aliceblue; 
    font-size: 40px; 
}

.team-image-image1 p,
.team-image-image3 p {
    color: aliceblue; 
    font-size: 25px;
}

.team-image-image1 .price,
.team-image-image3 .price {
    font-size: 32px;
    color: aliceblue;
    margin-left: 444px; /* Adjust as needed */
}

/* Separately */
.team-image-image2 {
    margin-right: 70px; 

}

.team-image-image2 img {
    width: 2000px; /* Adjust the width of the image */
}

.team-image-image2 div {
    margin-left: 40px; /* Adjust as needed to create space between the image and text */
}

.team-image-image2 h3 {
    color: aliceblue; 
    font-size: 40px;
    margin-left: -180px; /* Adjust as needed to align the text with the image */
}

.team-image-image2 p {
    margin-left: -180px;
    color: aliceblue; 
    font-size: 25px;
}

.team-image-image2 .price {
    margin-left: 400px; /* Adjust as needed to align the price with the text */
    font-size: 36px;
}

.team-image-image2 .separator {
    flex: 1;
    border-top: 1px solid antiquewhite; 
    margin: 50px 0; 
}
/* Separately */

.team-image-image1 .separator,
.team-image-image3 .separator {
    flex: 1;
    border-top: 1px solid antiquewhite; 
    margin: 50px 0; /* Adjust margin as needed */
}

.right-menu {
    position:absolute;
    bottom: -2250px;
    width: 70%; 
    background-color: black;
    color: white;
    padding: 120px 110px; 
    box-sizing: border-box;
    border-top: 3px solid antiquewhite;
    display: flex;
    flex-direction: row; 
    align-items: center;
    border-bottom: 3px solid antiquewhite;
}

.right-menu img.left-icon {
    position: absolute;
    top: 100px;
    left: 40px;
    width: 80px; 
    height: 80px;
}

.right-menu img.right-icon {
    position: absolute;
    top: -20px;
    right: 20px;
    width: 70px; 
    height: 500px;
}

.right-menu > div {
    text-align: center;
}

.right-menu > div:nth-child(even) {
    order: -1;
}

.right-menu > div h3 {
    font-size: 48px; 
    margin-bottom: 5px; 
}

.right-menu > div p {
    font-size: 22px; 
    margin: 8px 0; 
}

.right-menu img.left-icon {
    width: 80px; 
    height: 60px; 
}

.right-menu img.right-icon {
    width: 50px; 
    height: 350px; 
    position: absolute;
    top: -15px;
    right: 180px; 
}

.right-menu-insta {
    position: absolute;
    top: 80px;
    right: 50px;
    color: white;
    font-size: 32px; 
    margin: 0;
}

.right-menu-contact,
.right-menu-work {
    flex: 1;
    text-align: center;
}

.copyright {
    position: absolute;
    bottom: -2450px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    font-size: 14px;
    padding: 90px 0;
}