* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    line-height: 1.6;
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh; 
}

header {
    width: 73%;
    height: 100px;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 130px; 
    border-bottom: 3px solid antiquewhite;
    padding-bottom: 50px;
}

header a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    padding: 50px 15px; 
    font-size: 30px; 
}

header a:hover {
    color: coral;
}

.vector-1 {
    width: 60px; 
    height: 30px;
    gap: 0px;
}

.main-text {
    color: white;
    text-align: center;
    font-size: 60px;
    margin-top: 1400px;
    margin-bottom: 150px; 
}

.team-container {
    margin-top: -700px; 
    margin-right: -15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px; 
}

.team-item {
    text-align: center;
}

.team-item img {
    width: 2010px;
    height: auto; 
    margin-bottom: 50px; 
}


.team-item h1,
.team-item p {
    color: white; 
}

.team-item h1 {
    font-size: 20px; 
}

.team-item p {
    font-size: 16px; 
    margin-bottom: 10px; 
}

.right-menu {
    position: relative;
    top: 100px;
    width: 100%; 
    border-right-width: -200px;
    background-color: black;
    color: white;
    padding: 100px;
    box-sizing: border-box;
    border-bottom: 3px solid antiquewhite;
    border-top: 3px solid antiquewhite;
    display: flex;
    flex-direction: row; 
    align-items: center;
    margin-top: 50px;
}

.right-menu img.left-icon {
    position: absolute;
    top: 100px;
    left: 40px;
}

.right-menu img.right-icon {
    position: absolute;
    top: 20px;
    right: 20px;
}

.right-menu > div {
    text-align: center;
}

.right-menu > div:nth-child(even) {
    order: -1;
}

.right-menu > div h3 {
    font-size: 34px;
    margin-bottom: 10px;
}

.right-menu > div p {
    font-size: 28px;
    margin: 5px 0;
}

.right-menu img.left-icon {
    width: 60px; 
    height: 60px; 
}

.right-menu img.right-icon {
    width: 60px; 
    height: 350px; 
    position: absolute;
    top: 20px;
    right: 180px; 
}

.right-menu-insta {
    position: absolute;
    top: 80px;
    right: 30px;
    color: white;
    font-size: 32px;
    margin: 20px;
}

.right-menu-contact,
.right-menu-work {
    flex: 1;
    text-align: center;
}

.copyright {
    position: absolute;
    bottom: -750px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    font-size: 14px;
    padding: 90px 0;
}


.contact-info {
    display: flex;
    justify-content: space-around; 
    flex-direction: row;
    margin-top: 30px;
}

.contact-section {
    text-align: center;
    margin-bottom: -70px;
}

.contact-section h3 {
    font-size: 30px;
    color: white;
    margin-bottom: 15px;
}

.contact-section p {
    font-size: 16px;
    color: white;
    margin: 0;
    margin-bottom: 15px;
}
